# dev
black==24.10.0

# env
python-dotenv==1.0.1

# evaluation framework
deepeval==2.0.5

# custom llm evaluators
transformers==4.47.0
torch==2.5.1
lm-format-enforcer==0.10.9
accelerate==1.2.0
openai==1.57.1
langchain-openai==0.2.12


